.main-comments {
    margin-bottom: 69px;
    padding-top: 41px;
}

.title {
    font-family: "Gotham Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 49px;
    margin-bottom: 40px;
    letter-spacing: -1px;
}

.comments-list {
    margin-bottom: 39px;
}

.comments-list__item {
    border-bottom: 2px solid #f5f5f5;
    padding-top: 30px;
    padding-bottom: 21px;
}

.comments-list__item:first-child {
    padding-top: 0px;
}

.comments-list__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.comments-list__photo {
    border-radius: 50%;
    background-color: rgb(207, 216, 220);
    width: 160px;
    /* max-width: 160px; */
    height: 160px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    float: left;
    margin-right: 20px;
}

.comments-list__description {
    width: 700px;
    float: left;
}

.comments-list__date {
    font-family: "Gotham Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #656464;
    margin-bottom: 4px;
}

.comments-list__name {
    font-family: "Gotham Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #221f1f;
    margin-bottom: 11px;
}

.comments-list__text {
    font-family: "Gotham Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #221f1f;
}