.header {
    background: #27273e;
    padding-top: 10px;
    padding-bottom: 9px;
}

.logo--header {
    float: left;
    display: block;
    width: 101px;
}

.logo__img {
    max-width: 100%;
}

.header-contacts {
    float: right;
    text-align: right;
    padding-top: 5px;
}

.header-contacts__link {
    color: #a82165;
    transition: color .5s;
}

.header-contacts__phone {
    font-weight: 700;
    color: #ffffff;
    font-size: 21px;
    /* padding-top: 4px; */
    display: block;
    text-decoration: none;
}

.header-contacts__schedule {
    color: #b12167;
    font-weight: 700;
    font-style: normal;
    font-family: 'Open Sans';
    font-size: 14px;
    padding-top: 3px;
    padding-right: 2px;
    position: relative;
}

.header-contacts__schedule:hover .header-contacts__popup {
    transition: opacity .2s;
    opacity: 1;
    pointer-events: auto;
    /* animation: zoomInLeft .2s linear; */
}

.header-contacts__schedule:hover .header-contacts__link {
    color: #769dcd;
}

.header-contacts__popup {
    font-family: "Gotham Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 163px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(23, 59, 117, 0.55);
    border-radius: 3px;
    top: 40px;
    right: 0px;
    opacity: 0;
    pointer-events: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-contacts__popup:after {
    content: "";
    display: block;
    border-bottom: 11px solid #FFFFFF;
    height: 0;
    width: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    position: absolute;
    top: -11px;
    right: 2px;
}

.header-contacts__popup:before {
    position: absolute;
    content: "";
    display: block;
    height: 30px;
    width: 100%;
    top: -30px;
}

.header-contacts__popup-work {
    color: #ec1e79;
    width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.header-contacts__popup-weekend {
    color: #3f3d3d;
    width: 100%;
}