.wrapper--hello {
    background-size: cover;
    margin-bottom: 0px;
    position: relative;
}

.wrapper--hello::after {
    height: 0;
}

.hello {
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

.hello__logo {
    height: 96px;
    width: 160px;
    margin: 0 auto;
    background-image: url(../../images/logo-fig.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.hello__text {
    font-weight: 700;
    margin: 0 auto;
    width: 160px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

.hello__button {
    display: block;
    font-weight: 700;
    font-size: 12px;
    color: #ec1e79;
    width: 182px;
    border: 3px solid #ec1e79;
    background-color: transparent;
    margin: 0 auto;
    text-align: center;
    line-height: 3.16666666;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .5s, color .5s;
    letter-spacing: 1px;
}

.hello__button:hover {
    background-color: #ec1e79;
    color: #fff;
}

.wrapper--hello:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    background-color: rgba(236, 30, 121, 0.15);
}