            .main__main {}

            .main__inner {
                width: 700px;
                padding-top: 22px;
                padding-bottom: 25px;
            }

            .top-pic {
                position: relative;
                color: #ffffff;
                width: 879px;
                height: 354px;
                background-repeat: no-repeat;
            }

            .top-pic__text {
                font-weight: 700;
                font-size: 49px;
                position: absolute;
                top: 42%;
                left: 7%;
                letter-spacing: -0.5px;
                padding-left: 4px;
                text-transform: uppercase;
            }

            .description-company {
                font-size: 18px;
                line-height: 1.7;
                margin-bottom: 21px;
            }

            .description-company__intro {}

            .description-company__title {
                font-weight: 700;
                font-size: 18px;
                margin-top: 10px;
            }

            .description-company__list {
                /* list-style-image: url('../images/list-point.png'); */
                padding-left: 37px;
                margin-top: 8px;
            }

            .description-company__list-item {
                margin-bottom: 5px;
                position: relative;
            }

            .description-company__list-item::before {
                content: "•";
                color: #ec1e79;
                display: inline-block;
                margin-right: 1px;
                position: absolute;
                top: 0px;
                left: -20px;
            }

            .sale-block {
                font-size: 18px;
                padding: 12px 50px 11px 29px;
                background-color: #27273e;
                color: #fff;
                margin-bottom: 57px;
                line-height: 1.7;
                letter-spacing: -0.05px;
            }

            .sale-block__link {
                font-weight: 700;
                color: #ec1e79;
            }

            .partners__title {
                font-weight: 700;
                font-size: 49px;
                text-transform: uppercase;
            }

            .partners__list {
                list-style-type: none;
                margin-top: 40px;
                font-size: 0px;
                margin-left: -110px;
            }

            .partners__item {
                font-size: 16px;
                display: inline-block;
                width: 160px;
                height: 65px;
                margin-left: 110px;
                text-align: center;
                margin-bottom: 47px;
                vertical-align: middle;
            }

            .partners__pic {
                display: block;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-image: url('../../images/main_page/partners/partners_sprite.png');
                filter: grayscale(1);
                transition: filter .5s;
            }

            .partners__pic--winter {
                background-position: -200px bottom;
            }

            .partners__pic--drop {
                background-position: 18px bottom;
            }

            .partners__pic--ahmatova {
                background-position: -786px bottom;
            }

            .partners__pic--tishkin {
                background-position: -400px bottom;
            }

            .partners__pic--pufok {
                background-position: -988px bottom;
            }

            .partners__pic--avantage {
                background-position: -586px bottom;
            }

            .partners__pic--ahmatova:hover,
            .partners__pic--winter:hover,
            .partners__pic--drop:hover,
            .partners__pic--tishkin:hover,
            .partners__pic--pufok:hover,
            .partners__pic--avantage:hover {
                filter: grayscale(0);
            }